body {
  padding:50px;
  font:14px/1.5 Lato, Helvetica, Arial, sans-serif;
  font-weight:300;
  background: url("/img/bg1.jpg") 0 0 no-repeat fixed;
}
h1, h2, h3, h4, h5, h6{
  color: #005500;
}
div.bgunderlay {
  background: url("/img/bg1.jpg") 0 0 no-repeat fixed;
}
div.overlay {
  opacity: .98;
  filter:alpha(opacity=98);
  z-index: 2;
  background: #ffffff 0 0 no-repeat fixed;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

/* Header */
div.header {
  width:100%;
  height: 50px;
  top: 0;
  left: 0;
  position:fixed;
  background-color: #ffffff;
  z-index: 20;
}

div.headerleft {
  float: left;

}

div.headerright {
  float:right;
  margin: auto;
  position: absolute;
  right: 10px;
  bottom: 0;
}

ul.nav {
  list-style-type:none;
  padding:0;
  margin: 0;
}
ul.nav li {
  display: inline;
}
ul.nav a {
    color: #005500;
    font-size: 1.5em;
    text-decoration: none;
}

/* footer */
div.footer {
  width: 100%;
  height: 50px;
  position:fixed;
  bottom:0px;
  left:0px;
  background-color: #ffffff;
  z-index: 20;
}

/* Content */
div.section {
    margin: 5px auto;
    width:100%;
    position: relative;
    z-index: 10;
}

div.pagination {
   margin-left: auto;
   margin-right: auto;
   text-align: center; 
   width: 25%; 
}

/* Post list Formatting */
postheading {
  font-size:25px;
}
postheading a {
  color: #005500;
  text-decoration: none;
}


/* misc formatting */
a small {
  font-size:11px;
  color:#777;
  margin-top:-0.6em;
  display:block;
}

small {
  font-size:10px;
}