<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1 IE=edge">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/layout.css">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="/">Corrupted IO</a></h1>
      </header>
      <section id="main">
        {{ content }}
        <div class="pagination">
            {% if paginator.total_pages > 1 %}
                <span class="page_number">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span><br/>
                {% if paginator.previous_page %}
                    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
                {% else %}
                    <span class="previous">Previous</span>
                {% endif %}
                {% if paginator.next_page %}
                    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
                {% else %}
                    <span class="next">Next</span>
                {% endif %}
            {% endif %}
        </div>
      </section>
      <footer>
        <div id="search" class="search">
            <script type="text/javascript">
                function SearchMySite ()
                {
                    SearchEngine = 'https://www.duckduckgo.com/?q='
                    Site = 'blog.corrupted.io'
                    url = SearchEngine+document.getElementById('SearchQuery').value+'+site:'+Site;
                    window.location.href = url;
                }
            </script>
            <input class="search" type="search" id="SearchQuery" placeholder="DDG search this blog" onkeydown="if(event.which == 13){SearchMySite();}">
            <a class="search" onclick="SearchMySite();" href="#"><img class="search" src="/img/search.png" alt="Search"></a>
        </div>
        <div id="InteractWithMe">
        <a href="{{ site.url }}/feed.xml"><img src="/img/rss.gif" alt="Stalk this page with RSS"></a>
        <a href="https://github.com/kusuriya" target="tab"><img alt="github" src="/img/github.png"></a>
        <a href="https://twitter.com/slaughterhut" target="tab"><img alt="twitter" src="/img/twitter.png"></a>
        <a href="https://alpha.app.net/kusuriya" target="tab"><img alt="app.net" src="/img/adn.png"></a>
        <a href="https://www.linkedin.com/profile/view?id=47752648"><img alt="linkedin" src="/img/linkedin.png"></a>
        </div>
      </footer>
    </div>
  </body>
</html>

