<!doctype html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <meta name="author" content="Jason Barbier" />
    <!-- Theme stylesheets -->
    <link rel="stylesheet" href="{{"/theme/default/layout.css" | relative_url}}" />
    <!-- Syntax highlighting -->
    <link rel="stylesheet" href="{{"/theme/default/syntaxhighlight.css" | relative_url}}" />
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{"/feed.xml" | relative_url}}" />
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
      <!-- FCC protest -->
	<script type="text/javascript">$(window).on('load',function(){$('#fcc').modal('show');});</script>
    <div class="modal fade" id="fcc" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">Your bandwidth limit has been exceeded!</h2>
        </div>
        <div class="modal-body">
                <p>Sorry you have exceeded your alloted bandwidth for site category, News/Information: Technology.</p>
                <p>In order to view more content of this type you must contact the FCC and your congressional reps and
                let them know how important net neutrality is to you. Without your support this is what the internet
                will become.</p>
                <p> If you would like more information you can find it at <a href="https://dearfcc.org/">DearFcc.org</a></p>
        </div>
        <div class="modal-footer">
        </div>
      </div>
      
    </div>
  </div>
  <!-- end fcc -->
    <div class=overlay></div>
    <div class=header>
        <div class="headerleft">
            <!-- <a href="/"><img alt="Corrupted IO Title" src="/theme/default/img/logo.png"/></a> -->
	    <span style="color: #005500;font-size: 2.5em;">Cyberdyne Systems</span>
        </div>
        <div class="headerright">
            <ul class="nav">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/blog">Blog</a></li>
                <!-- <li><a href="/resume">Resume</a></li> -->
            </ul>
        </div>
    </div>
    <div class="section" id="main">
    {{ content }}
    <br/>
    </div>
    <div class="footer">
        <script type="text/javascript">
            function SearchMySite ()
            {
                SearchEngine = 'https://www.duckduckgo.com/?q='
                Site = 'corrupted.io'
                url = SearchEngine+document.getElementById('SearchQuery').value+'+site:'+Site;
                window.location.href = url;
            }
        </script>
        <input class="search" type="search" id="SearchQuery" placeholder="DDG search this site" onkeydown="if(event.which == 13){SearchMySite();}">
        <a href="{{"/feed.xml" | relative_url}}"><img src="/img/rss.gif" alt="Stalk this page with RSS"></a>
        <a href="https://github.com/kusuriya" target="tab"><img alt="github" src="/img/github.png"></a>
        <a href="https://twitter.com/slaughterhut" target="tab"><img alt="twitter" src="/img/twitter.png"></a>
        <a href="https://alpha.app.net/kusuriya" target="tab"><img alt="app.net" src="/img/adn.png"></a>
        <a href="https://www.linkedin.com/profile/view?id=47752648"><img alt="linkedin" src="/img/linkedin.png"></a>
    </div>
  </body>
</html>
